[Desktop Entry]
Type=Service
# MimeType=image/jpg;image/jpeg;image/webp;image/heic
MimeType=image/*
Actions=convertToPng;convertToJpg;convertToWebp;convertToJpeg;convertToAvif
X-KDE-Submenu=Convert to

[Desktop Action convertToPng]
Name=Convert to png
Icon=folder-pictures-symbolic
Exec=/home/username/.local/bin/kio-servicemenus/convert.sh png %U

[Desktop Action convertToJpg]
Name=Convert to jpg
Icon=folder-pictures-symbolic
Exec=/home/username/.local/bin/kio-servicemenus/convert.sh jpg %U

[Desktop Action convertToJpeg]
Name=Convert to jpeg
Icon=folder-pictures-symbolic
Exec=/home/username/.local/bin/kio-servicemenus/convert.sh jpeg %U

[Desktop Action convertToWebp]
Name=Convert to webp
Icon=folder-pictures-symbolic
Exec=/home/username/.local/bin/kio-servicemenus/convert.sh webp %U

[Desktop Action convertToAvif]
Name=Convert to avif
Icon=folder-pictures-symbolic
Exec=/home/username/.local/bin/kio-servicemenus/convert.sh avif %U
